body{
    max-width: 1920px;
    /* background-color: rgb(5, 66, 57); */
    background-image: url(/images/b3.jpg);
    object-fit:contain;
  }
    section {
    color: rgb(10, 0, 8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  input,
  select {
    font-size: 15px;
    padding: 5px;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #a86096;
  }
  nav {
    background-color: #be31d1;
   border-radius: 50px;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
  }
  
  nav li {
    color: #7c3773;
    margin-left: 15px;
  }
  li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  nav ul img {
    height: 100px;
  }
  .width50 {
    padding: 20px;
    border: 5px solid rgb(150, 58, 150);
    text-align: center;
    flex: 1;
  }
  #hero {
    display:flex;
    gap: 20px;
    /* width: 80%; */
    justify-content: space-evenly;
  }
  .welcome-img{
      max-width: 100%;
  }
  
  .hero-area{
    border-radius: 100%;
    background-position: 20px;
    min-width:fit-content;
    text-align: center;
    display:flex;
  flex-direction: column;
  align-items: center;
   
  }
   
  #head-hero{
    
  font-size: 4rem;
  text-align: center;
  color: rgb(85, 8, 85);
  }
  .logo-hero{
    max-width: 15%;
    margin: 10px;
    border-radius: 100%;
  }
  
  li:hover {
    background-color: rgb(173, 124, 167);
    font-size:  20px;
  }
  
  li a:hover{
  color: #681597;
  /* text-decoration: dotted; */
  }
  
  @media screen and (max-width: 480px) {
    nav {
      /* align-items: center; */
      background-color: rgb(105, 105, 105,0.2);
      width: 100%;
    }
    nav ul {
      /* text-align: center; */
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      justify-content: space-evenly;
      margin: 0 0 auto;
      padding: 0px;
      
  }
  ul img{
    display: none;
  }
  #contact{
position: fixed;
  }
  }
 